@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--primary-color);
  scroll-behavior: smooth;
}

/* body::-webkit-scrollbar {
  display: none;
} */

/* DEFAULT */

:root {
  --primary-color: #12305b;
  --color-low: #213842;
}

.btn {
  width: 225px;
  height: 50px;
  background-color: #fc5959;
  color: white;
  font-size: 14px;
}

.btn:hover {
  border-color: #12305b;
}

.divider {
  width: 100%;
  height: 1px;

  background: rgba(33, 56, 66, 0.0955529);
}

.color-low {
  color: var(--color-low);
}

.active {
  font-weight: bold;
}

/* RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bolder;
  font-size: clamp(45px, 5vw, 60px);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  text-transform: capitalize;
}

a:any-link {
  text-decoration: none;
  color: #8fe2ff;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  width: 85vw;
}

/* HEADER */
.header {
  height: 80vh;
  position: relative;
  background-color: #fbf9f2;
}

.banner-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left center;
}

.header-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.header-spread {
  height: 80%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  justify-content: flex-end;
}

.header-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.header-nav-links {
  flex-grow: 1;
  list-style-type: none;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: clamp(0.5rem, 3vw, 2rem);
}

.header-nav-links a {
  color: var(--primary-color);
  font-size: clamp(14px, 3vw, 18px);
}

/* BANNER */

.banner-contents {
  flex: 1;

  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  max-width: 500px;
}

.banner-top-text {
  font-size: 18px;
}

.header-partners-container {
  position: absolute;
  width: 100%;
  padding: 30px 20px;
  bottom: -60px;

  background: #ffffff;
  box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;

  right: 0;
  overflow: scroll;
}

.header-partners-container::-webkit-scrollbar {
  display: none;
}

.header-partners {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;
  height: 35px;
}

.header-partners {
  animation: slidePartners 25s linear infinite;
}

@keyframes slidePartners {
  0% {
    transform: translateX(180%);
  }
  100% {
    transform: translateX(-180%);
  }
}

.partner-logo {
  height: 100%;
}

.search-form {
  max-width: 859px;
  padding: 1rem;
  background: #ffffff;
  border-radius: 10px;
}

.search-form input {
  border: none;
  width: 100%;
}

/* REVIEWS */

.review-card-large {
  /* max-width: 474px; */
  height: 100%;
  padding: 35px 25px;
  background: #fbf9f2;
  box-shadow: 0px 35px 60px rgba(0, 0, 0, 0.145947);
}

a.know-more {
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: bold;
}

.review-large-text {
  font-size: clamp(18px, 3vw, 22px);
}

.know-more::before {
  content: "> ";
  text-decoration: none;
}

.review-large-author {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.review-large-author img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 50%;
}

.products-review {
  max-width: 306px;
  max-height: 420px;

  background: #ffffff;
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}

.shadow {
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
}

.product-image-review {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

/* SIMPLE CAROUSEL */

.scroll-list-container {
  overflow: scroll;
  scroll-snap-align: center;
}

.scroll-list-container::-webkit-scrollbar {
  display: none;
}

.scroller {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  scroll-snap-align: center;
}

.slide-content {
  min-width: 300px;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.review.slide-content {
  width: 306px;
  height: 210px;
  background: #fbf9f2;
  border-radius: 8px;
}

.review-scroll {
  margin-bottom: 1rem !important;
}

.products-review.slide-content {
  height: 420px;
  width: 300px;

  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.145947);
}

/* SOP NOW AND OUR MISSION */

.shop-now-img-description {
  background: #ffffff;
  box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  padding: 20px 20px 10px 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.our-mission-img {
  /* height: 550px; */
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.sm-content-container {
  align-self: center;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.visit-shop {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

/* FAQs */

.faqs-container {
  width: 92vw;
  margin-left: auto;
  margin-right: auto;
}

.faqs-category {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  display: grid;
  place-content: center;
  height: 100%;
}

.faqs-category:hover {
  font-weight: bold;
}

.faq-active {
  font-weight: bold;
}

/* FOOTER */

footer {
  margin-top: 80px;
}

.footer-container {
  padding: 35px 3vw;
  /* background-image: url("images/footer-bg.png"); */
  background-color: var(--primary-color);
  color: white;
}

.height-100 {
  height: 100%;
}

.terms-service {
  color: #8fe2ff;
}

.back-to-top {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid white;
  font-weight: bolder;
  font-size: large;

  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;

  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 50;
  cursor: pointer;
}

/* SCREEN */

@media screen and (min-width: 650px) {
  .scroller {
    width: 100%;
    flex-flow: row;
    gap: 2rem;
    scroll-snap-align: center;
  }

  .scroller:first-child {
    margin-left: 8vw;
  }

  .scroller:last-child {
    margin-right: 3vw;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 100vh;
  }

  .sm-content-container {
    width: 420px;
  }
}

@media screen and (min-width: 992px) {
  .header-partners-container {
    width: 90vw;
  }

  .header-partners {
    animation: none;
  }

  .our-mission-img {
    height: 550px;
    width: 100%;
    flex-grow: 1;
  }

  .shop-now-img-description {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
  }

  .faqs-category {
    display: block;
    width: 100%;
    height: auto;
  }

  .left-border {
    border-left: 1px solid #5d6544;
  }
}
